@charset "utf-8";
/*一般設定**************************************************************************/
body, img, p, ul, li, ol, h1, h2, h3, h4, h5, h6, th, dl, dd, dt, b, a, div {
	margin: 0px;
	padding: 0px;
	height:auto;
	line-height:0;
	list-style-type: none;
	font-size: 100%;
	border:0px;
}
body {
	padding:0px;
	margin:0 auto 0 auto;
	background-color:#ffffff;
}

#alpaca ul {
	width:80%;
	height:auto;
	margin:20% 10%;
	padding:0 0;
	float:left;
}
#alpaca ul li {
	width:42%;
	height:auto;
	margin:0% 4% 0 4%;
	padding:0 0;
	cursor:pointer;
	float:left;
}
#alpaca ul li img {
	width:100%;
}

#wrapper {
	width:100%;
	height:auto;
	margin:0 0 0 0;
	padding:0 0 0 0;
	overflow:hidden;
	float:left;
	
	overflow:hidden;
}

/*天邊*/
#top_bar {
	position:absolute;
	z-index:9;
	width:100%;
	height:auto;
	top:0;
	left:0;
	margin:0;
	padding:0 0 0% 0;
	background-image: url(../images/top_bar_bg.webp);
	background-repeat: repeat-x;
	background-size:100% 100%;
}
#top_bar .menu {
	width:10%;
	margin:0.4% 0 0 2%;
	display:inline;
	cursor:pointer;
	float:left;
}
#top_bar .menu img {width:100%;}
#top_bar .logo {
	width:15%;
	margin:0.4% 0 0 2%;
	display:inline;
	float:left;
}
#top_bar .logo img {width:100%;}
#top_bar .menu_icon {
	width:4%;
	height:auto;
	margin:1.6% 2% 0 2%;
	padding:0 0;
	display:inline;
	float:left;
}
#top_bar .menu_icon img {width:100%;}
/*手機版menu選單*/
#menu_list {
    position:fixed;
	z-index:12;
	width:60%;
	height:auto;
	top:0;
	left:0;
	margin:0 0;
	padding:12% 20% 120% 20%;
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.75) 100%);
}
#menu_list li {
	width:100%;
	height:auto;
	margin:0% 0 3% 0;
	padding:4% 0 5% 0;
	border-bottom:1px dotted #eeeeee;
	diaplay:inline;
	cursor:pointer;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 28px;
	font-weight: normal;
	color: #333;
	text-align:center;
	cursor:pointer;
	float:left;
	
}
#menu_list #menu_close {
    position:fixed;
	z-index:13;
	top:0;
	right:0;
	width:5%;
	height:auto;
	margin:2% 2% 0 2%;
	padding:0 0;
	display:inline;
	cursor:pointer;
	float:left;
}
#menu_list #menu_close img {width:100%;}
#top_bar .menu_icon img {width:100%;}
#top_bar .menu {display:none;}
#top_bar .menu li {
    width:12.6%;
	height:auto;
	margin:0 2% 0 2%;
	padding:0.3% 0;
	border-radius:50px;
	background-color:transparent;
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	color: #333;
	text-align:center;
	cursor:pointer;
	display:none;
	float:left;
}
#top_bar .menu li:hover {background-color:#bddafd;}
#top_bar .btn {
	width:12%;
	height:auto;
	margin:2.2% 2% 0 0;
	padding:0.5% 0 4% 0;
	background-image: url(../images/top_bar_connect_button.png);
	background-repeat: no-repeat;
	background-size:100%;
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
	text-align:center;
	cursor:pointer;
	display:inline;
	float:right;
}
#top_bar .btn:hover {color: #83f5ff;}

/*回到頂端鈕*/
#btn_top {
	position:fixed;
	z-index:9;
	bottom:0;
	right:0;
	width:10%;
	margin:0 2% 0 0;
	cursor:pointer;
}
#btn_top img {width:100%;}


/*主視覺*/
#main_visual {
	width:100%;
	height:auto;
	margin:0 0;
	padding:130% 0 10% 0;
	background-image: url(../images/main_visual_pad.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #main_visual_title {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:60%;
	margin:68% 20% 0 20%;
	padding:25% 0;
	background-image: url(../images/main_visual_title.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #main_visual_title img {width:100%}
#main_visual #main_btn {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:50%;
	margin:108% 25% 0 25%;
	padding:2.5% 0 5% 0;
	background-image: url(../images/main_visual_connect_button.webp);
	background-repeat: no-repeat;
	background-size:100%;
	font-family: "微軟正黑體";
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
	cursor:pointer;
}
#main_visual #main_btn:hover {top:2px;}
#main_visual #main_btn:active {top:4px;}
#main_visual #main_btn img {width:100%;}
#main_visual #more {
	position:absolute;
	z-index:3;
	top:0;
	left:0;
	width:10%;
	margin:122% 45% 0 45%;
	padding:5% 0 3% 0;
	background-image: url(../images/main_visual_more.webp);
	background-repeat: no-repeat;
	background-size:100%;
	cursor:pointer;
	animation-duration: 1.5s;
}
#main_visual #more img {width:100%}
#main_visual #diagram {
    width:90%;
    height:auto;
	margin:0% 5% 1% 5%;
	padding:0% 0 0% 0;
	display:inline;
	float:left;
}
#main_visual #diagram li {
	width:46%;
	margin:0 0.5% 2% 0.5%;
	padding:3% 0 4% 3%;
	display:inline;
	border-radius:20px;
	float:left;
}
#main_visual #diagram dl {
	width:46%;
	margin:0 0.5% 2% 0.5%;
	padding:3% 0 4% 3%;
	display:inline;
	border-radius:20px;
	float:right;
}
#main_visual #diagram .p1 {
	background-image: url(../images/main_visual_diagram_p1.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #diagram .p2 {
	background-image: url(../images/main_visual_diagram_p2.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #diagram .p3 {
	background-image: url(../images/main_visual_diagram_p3.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #diagram .p4 {
	background-image: url(../images/main_visual_diagram_p4.webp);
	background-repeat: no-repeat;
	background-size:100%;
}
#main_visual #diagram h5 {
	width:100%;
	margin:2.5% 0 0 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 30px;
	line-height:30px;
	font-weight: bold;
	color: #ff0098;
	text-alignleft;
}
#main_visual #diagram h6 {
	width:100%;
	margin:0.5% 0 0 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height:20px;
	font-weight: bold;
	color: #333333;
	text-align:left;
}
#main_visual #diagram .amount {font-size: 52px!important; line-height:62px; }




/*全球遊戲支付領導品牌*/
#brand {
    width:90%;
	height:auto;
	margin:4% 0%;
	padding:8% 5%;
	background-color:#d5ecff;
	float:left;
}
#brand .text {
	width:100%;
	height:auto;
	display:inline;
	float:left;
	
}
#brand .text h1 {
	width:100%;
	height:auto;
	margin:0 0 2% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#brand .text h2 {
	width:100%;
	height:auto;
	margin:0 0 1% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 32px;
	font-weight: bold;
	color: #3184e4;
	text-align:left;
	display:inline;
	float:left;
}
#brand .text p {
	width:100%;
	height:auto;
	margin:1% 0 0 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 22px;
	line-height: 32px;
	font-weight: normal;
	color: #666666;
	text-align:left;
	display:inline;
	float:left;
}
#brand .photo {
	width:100%;
	margin:5% 0 0 0;
	padding:0 0;
	display:inline;
	float:right;
}
#brand .photo img {width:100%; border-radius:20px;}
#global_payment {
    width:90%;
	height:auto;
	margin:0 0 4% 0;
	padding:1.5% 5%;
	background-color:#ffffff;
	float:left;
}
#global_payment h1 {
	width:100%;
	height:auto;
	margin:0 0 1.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#global_payment h2 {
	width:100%;
	height:auto;
	margin:0 0 2% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 32px;
	font-weight: bold;
	color: #3184e4;
	text-align:left;
	display:inline;
	float:left;
}
#global_payment ul {
	width:100%;
	margin:0 0;
	padding:0 0;
	float:left;
}
#global_payment ul li {
	width:28%;
	height:340px;
	margin:0 2.9% 0 0;
	padding:2% 1.3%;
	border-radius:20px;
	border:2px solid #d5ecff;
    background: linear-gradient(to bottom,  #ffffff 50%,#d6ecff 100%); 
	display:inline;
	float:left;
}
#global_payment ul dl {
	width:28%;
	height:340px;
	margin:0 0 0 0;
	padding:2% 1.3%;
	border-radius:20px;
	border:2px solid #d5ecff;
    background: linear-gradient(to bottom,  #ffffff 50%,#d6ecff 100%); 
	display:inline;
	float:left;
}
#global_payment ul h1 {
	width:100%;
	height:auto;
	margin:1% 0 4.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	text-align:left;
	display:inline;
	float:left;
}
#global_payment ul p {
	width:100%;
	height:auto;
	margin:0.5% 0 0.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	text-align:justify;
	display:inline;
	float:left;
}
#global_payment ul .icon {
	width:70%;
	margin:0% 15% 0% 15%;
	padding:0 0;
	float:right;
}
#global_payment ul .icon img {width:100%;}
#global_payment ul .icon2 {
	width:70%;
	margin:13% 15% 0% 15%;
	padding:0 0;
	float:right;
}
#global_payment ul .icon2 img {width:100%;}
#global_payment dd {
	width:100%;
	height:auto;
	margin:2% 0 0.5% 0;
	padding:0 0;
	
	font-family: "微軟正黑體";
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	color: #00a5e3;
	text-align:justify;
	display:inline;
	float:left;
}


/*地圖*/
#map {
	width:100%;
	height:auto;
	margin:0 0;
	padding:0 0 4% 0;
	float:left;
	overflow:hidden;
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 35%);
}


/*整合行銷方案*/
#marketing {
	width:90%;
	height:auto;
	margin:-2% 0;
	padding:4% 5%;
	background-color:#d5ecff;
	float:left;
}
#marketing h1 {
	width:100%;
	height:auto;
	margin:2% 0 1.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#marketing h2 {
	width:100%;
	height:auto;
	margin:0 0 2% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	color: #3184e4;
	text-align:left;
	display:inline;
	float:left;
}
#marketing .step {
	width:100%;
	height:auto;
	margin:0% 0 2% 0;
	padding:0% 0%;
	float:left;
}
#marketing .step ul {
	width:25%;
	margin:0;
	padding:0 0;
	display:inline;
	float:left;
}
#marketing .step li {
	width:70%;
	height:auto;
	margin:0 0;
	padding:7% 15%;
	font-family: "微軟正黑體";
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #333333;
	text-align:left;
	display:inline;
	float:left;
}
#marketing .step .step1 {background-image: url(../images/marketing_step1.webp); background-repeat: no-repeat; background-size:100%;}
#marketing .step .step2 {background-image: url(../images/marketing_step2.webp); background-repeat: no-repeat; background-size:100%;}
#marketing .step .step3 {background-image: url(../images/marketing_step3.webp); background-repeat: no-repeat; background-size:100%;}
#marketing .step .step4 {background-image: url(../images/marketing_step4.webp); background-repeat: no-repeat; background-size:100%;}
#marketing .step .step5 {background-image: url(../images/marketing_step5.webp); background-repeat: no-repeat; background-size:100%;}
#marketing .step ul dl {
	width:95%;
	height:210px;
	margin:0 5% 2% 0;
	padding:3% 0;
	border-radius:10px;
	display:inline;
    float:left;
}
#marketing .step ul dl .icon {
	width:50%;
	margin:3% 25%;
	padding:0 0;
	display:inline;
	float:left;
}
#marketing .step ul dl .icon img {width:100%;}
#marketing .step ul dl h3 {
    width:90%;
	height:auto;
	margin:5% 0 2.5% 0;
	padding:0 5%;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-align:center;
	display:inline;
	float:left;
}
#marketing .step ul dl p {
    width:88%;
	height:auto;
	margin:2% 0 1.5% 0;
	padding:0 6%;
	font-family: "微軟正黑體";
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #444444;
	text-align:justify;
	display:inline;
	float:left;
}
#marketing .step ul dd {
	width:95%;
	height:210px;
	margin:0 5% 2% 0;
	padding:3% 0;
	border-radius:10px;
	display:inline;
    float:left;
}
#marketing .step ul dd .icon {
	width:50%;
	margin:3% 25%;
	padding:0 0;
	display:inline;
	float:left;
}
#marketing .step ul dd .icon img {width:100%;}
#marketing .step ul dd h3 {
    width:88%;
	height:auto;
	margin:5% 0 2.5% 0;
	padding:0 6%;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-align:center;
	display:inline;
	float:left;
}
#marketing .step ul dd p {
    width:88%;
	height:auto;
	margin:2% 0 1.5% 0;
	padding:0 6%;
	font-family: "微軟正黑體";
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #444444;
	text-align:justify;
	display:inline;
	float:left;
}
#marketing .step ul dd .mascot {
	width:96%;
	margin:30% 2% 0 2%;
	padding:0 0;
	display:inline;
	float:left;
}
#marketing .step ul dd .mascot img {width:100%;}
.step1_bg {background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(139,223,241,0.5) 100%);}
.step2_bg {background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(95,210,248,0.5) 100%);}
.step3_bg {background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(36,186,248,0.5) 100%);}
.step4_bg {background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(5,161,237,0.5) 100%);}



/*全方位交易安全解決方案*/
#security {
    width:90%;
	height:auto;
	margin:0 0 2% 0;
	padding:4% 5%;
	background-color:#d1d1d9;
	background-image: url(../images/security_bg3.webp);
	background-repeat: no-repeat;
	background-size:100%;
	float:left;
}
#security h1 {
	width:100%;
	height:auto;
	margin:2% 0 2% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#security ul {
	width:100%;
	height:auto;
	margin:1.5% 0 0 0;
	padding:0 0 0% 0;
	float:left;
}

#security ul dt {
	width:50%;
	margin:2% 25% 4% 25%;
	padding:0 0;
	float:left;
}
#security ul dt img {width:100%;}
#security ul li {
	width:42%;
	height:auto;
	margin:0 1% 4% 1%;
	padding:2.5% 3%;
	border-radius:10px;
	background: linear-gradient(to bottom,  rgba(249,249,249,0.9) 0%,rgba(255,255,255,0.6) 100%);
	box-shadow:2px 2px 3px rgba(20%,20%,20%,0.2);
	display:inline;
	float:left;
}
#security ul dl {
	width:42%;
	height:auto;
	margin:0 1% 4% 1%;
	padding:2.5% 3%;
	border-radius:10px;
	background: linear-gradient(to bottom,  rgba(249,249,249,0.9) 0%,rgba(255,255,255,0.6) 100%);
	box-shadow:2px 2px 3px rgba(20%,20%,20%,0.2);
	display:inline;
	float:right;
}
#security ul h5 {
	width:100%;
	height:auto;
	margin:5% 0 1.5% 0;
	padding:0 0%;
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	color: #4078bf;
	text-align:center;
	display:inline;
	float:left;
}
#security ul p {
    width:100%;
	height:auto;
	margin:2% 0 1.5% 0;
	padding:0 0%;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #444444;
	text-align:justify;
	display:inline;
	float:left;
}


/*客服支援*/
#customer_service {
	width:90%;
	height:auto;
	margin:0 0 2% 0;
	padding:4% 5% 4% 5%;
	background-color:#ffffff;
	float:left;
}
#customer_service h1 {
	width:100%;
	height:auto;
	margin:0 0 1.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#customer_service ul {
    width:100%;
	height:auto;
	margin:0.5% 0 0 0;
	padding:0 0 0% 0;
	float:left;
}
#customer_service ul li {
	width:27.7%;
	height:320px;
	margin:0 2% 0 0;
	padding:1.5% 2%;
	border-radius:10px;
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 99%);
	border:1px solid #eeeeee;
	display:inline;
	float:left;
}
#customer_service ul dl {
	width:27.7%;
	height:320px;
	margin:0 0% 0 0;
	padding:1.5% 2%;
	border-radius:10px;
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 99%);
	border:1px solid #eeeeee;
	display:inline;
	float:right;
}
#customer_service ul ol {
	width:60%;
	margin:2% 20% 2% 20%;
	padding:0 0;
	float:left;
}
#customer_service ul ol img {width:100%}
#customer_service ul h6 {
	width:100%;
	height:auto;
	margin:5% 0 1.5% 0;
	padding:0 0%;
	font-family: "微軟正黑體";
	font-size: 22px;
	line-height: 32px;
	font-weight: bold;
	color: #333333;
	text-align:center;
	display:inline;
	float:left;
}
#customer_service ul p {
    width:100%;
	height:auto;
	margin:2% 0 1.5% 0;
	padding:0 0%;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 25px;
	font-weight: normal;
	color: #444444;
	text-align:justify;
	display:inline;
	float:left;
}


/*超過上千家遊戲公司選擇MyCard*/
#choice {
	width:90%;
	height:auto;
	margin:0% 0;
	padding:4% 5%;
	background-color:#d5ecff;
	float:left;
}
#choice h1 {
	width:100%;
	height:auto;
	margin:0 0 4% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#choice h2 {
	width:100%;
	height:auto;
	margin:0 0 4% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 22px;
	line-height: 32px;
	font-weight: bold;
	color: #3184e4;
	text-align:left;
	display:inline;
	float:left;
}
#choice ul {
    width:100%;
	height:auto;
	margin:0.5% 0 0 0;
	padding:0 0 0% 0;
	float:left;
}
#choice ul li {
	width:10.1%;
	margin:0 0.5% 2% 0.5%;
	padding:0;
	display:inline;
	float:left;
}
#choice ul li img {width:100%;}
#choice dl {
    width:100%;
	height:auto;
	border-top:1px solid #cccccc;
	margin:2% 0 0 0;
	padding:1.2% 0 0% 0;
	float:left;
}
#choice dl dt {
	width:15.6%;
	margin:2% 0.5% 1.5% 0.5%;
	padding:0;
	border-radius:10px;
	display:inline;
	float:left;
}
#choice dl dt img {width:100%; border-radius:10px;}

/*合作流程*/
#cooperate {
    width:90%;
	height:auto;
	margin:3% 0 1% 0;
	padding:4% 5%;
	background-color:#ffffff;
	float:left;
}
#cooperate h1 {
	width:100%;
	height:auto;
	margin:0 0 1.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
	color: #0c59cf;
	text-align:left;
	display:inline;
	float:left;
}
#cooperate h2 {
	width:100%;
	height:auto;
	margin:0 0 3% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	color: #3184e4;
	text-align:left;
	display:inline;
	float:left;
}
#cooperate ul {
	width:100%;
	margin:0 0;
	padding:0 0;
	float:left;
}
#cooperate ul li {
	width:30%;
	heigut:auto;
	margin:0 5% 0 0;
	padding:0 0;
	display:inline;
	float:left;
}
#cooperate ul li dt {
	width:35%;
	margin:1% 2% 0 0;
	padding:1% 0;
	border-radius:50px;
	background: linear-gradient(to bottom,  rgba(10,166,221,1) 0%,rgba(0,122,221,1) 100%);
	font-family: "微軟正黑體";
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
	display:inline;
	float:left;
}
#cooperate ul li dd {
	width:63%;
	margin:0 0 0 0;
	padding:0% 0 0.5% 0;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 28px;
	font-weight: bold;
	color: #0AA6DD;
	text-align:left;
	display:inline;
	float:right;
}
#cooperate ul li .sample {
	width:100%;
	margin:5% 0 4% 0;
	padding:0 0;
	float:left;
}
#cooperate ul li .sample img {width:100%; border-radius:10px;}

#cooperate ul li ol {
	width:100%;
	margin:0 0 2% 0;
	padding:0.5% 0 3.5% 0;
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #333333;
	text-align:center;
	display:inline;
	float:left;
}
#cooperate ul dl {
	width:30%;
	heigut:auto;
	margin:1% 0 0 0%;
	padding:0 0;
	display:inline;
	float:right;
}
#cooperate ul dl dt {
	width:35%;
	margin:0 2% 0 0;
	padding:1% 0;
	border-radius:50px;
	background: linear-gradient(to bottom,  rgba(10,166,221,1) 0%,rgba(0,122,221,1) 100%);
	font-family: "微軟正黑體";
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
	display:inline;
	float:left;
}
#cooperate ul dl dd {
	width:63%;
	margin:0 0 0 0;
	padding:0% 0 0.5% 0;
	font-family: "微軟正黑體";
	font-size: 28px;
	line-height: 28px;
	font-weight: bold;
	color: #0AA6DD;
	text-align:left;
	display:inline;
	float:right;
}
#cooperate ul dl .sample {
	width:100%;
	margin:2.2% 0;
	padding:0 0;
	float:left;
}
#cooperate ul dl .sample img {width:100%; border-radius:10px;}

#cooperate ul dl ol {
	width:100%;
	margin:0 0 2% 0;
	padding:0.5% 0 3.5% 0;
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color:  #333333;
	text-align:center;
	display:inline;
	float:left;
}
#dash_line {
	width:100%;
	height:1px;
	margin:0 0 2% 0;
	padding:0 0;
	border-bottom:1px dashed #ccc;
	float:left;
}

/*聯絡我們*/
#connect {
	width:80%;
	height:auto;
	margin:0% 0;
	padding:40% 10% 58% 10%;
	background-image: url(../images/connect_bg2.webp);
	background-size:100%;
	float:left;
}
#connect h1 {
	width:100%;
	height:auto;
	margin:0 0 1.5% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 52px;
	line-height: 62px;
	font-weight: bold;
	color: #0c59cf;
	text-align:justify;
	display:inline;
	float:left;
}
#connect h2 {
	width:100%;
	height:auto;
	margin:0 0 1% 0;
	padding:0 0;
	font-family: "微軟正黑體";
	font-size: 33px;
	line-height: 48px;
	font-weight: bold;
	color: #ef286e;
	text-align:left;
	display:inline;
	float:left;
}
#connect .button {
	width:70%;
	margin:0% 15% 0 15%;
	padding:3.5% 0 6% 0;
	background-image: url(../images/connect_button.webp);
	background-repeat: no-repeat;
	background-size:100%;
	font-family: "微軟正黑體";
	font-size: 42px;
	line-height: 42px;
	font-weight: bold;
	color: #ffffff;
	text-align:center;
	float:left;
	cursor:pointer;
}


/*版權宣告*/
#copyright {
    width:100%;
	height:auto;
	margin:0 0;
	padding:2% 0 0 0;
	background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%,rgba(239,239,239,1) 100%);
	float:left;
}
#copyright .logo {
	width:20%;
	margin:1% 0 0 2%;
	padding:0 1%;
	display:inline;
	float:left;
}
#copyright .logo img {width:100%;}
#copyright .community {
	width:40%;
	margin:0.2% 2% 1% 0%;
	padding:0 0;
	display:inline;
	float:right;
}
#copyright .community ol {
	width:23%;
	margin:0 1%;
	padding:0 0;
	display:inline;
	cursor:pointer;
	float:left;
}
#copyright .community ol img {width:100%;}
#copyright p {
	width:100%;
	height:auto;
	margin:0 0;
	padding:0.5% 0;
	background-color:#eeeeee;
	font-family: "微軟正黑體";
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #333333;
	text-align:center;
	float:left;
}